| $(".follow-btn-#{@user.id}").html("#{j(render 'relationships/follow_button', user: @user, user_of_page: @page_user)}");
| $("#follow-info").html("#{j(render 'users/follow_info', user: @page_user)}");
