.navbar {
  background-color: #022d0a;
  
  .dropdown-item {
    padding: 0!important;
  }
}

.nav-pills {
  .nav-link {
    background-color: white;
  }
}

.nav-link.active, .show>.nav-link {
  background-color: #026b02!important;
}

.nav-item li a {
  display: block;
  padding-top: 0.25rem;
  padding-right: 1.5rem;
  padding-bottom: 0.25rem;
  padding-left: 1.5rem;
}

.to-green {
  background-color: #022d0a!important;
  transition: background-color 0.5s linear;
}

.to-none {
  background-color: transparent!important;
  transition: background-color 0.5s linear;
}