.navbar {
  background-color: #442600;
  
  .dropdown-item {
    padding: 0!important;
    
    a {
      display: block;
      padding: 0.25rem 1.5rem;
    }
  }
}

.nav-pills {
  .nav-link {
    background-color: white;
  }
  
  .nav-link.active, .show>.nav-link {
    background-color: #026b02!important;
  }
}

.to-brown {
  background-color: #442600!important;
  transition: background-color 0.5s linear;
}

.to-none {
  background-color: transparent!important;
  transition: background-color 0.5s linear;
}